{% extends "lab_5/layout/base.html" %}

{% block content %}
<div name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">munfess 2.0</h2>
        <div class="flex-item col-sm-4">
          <section name="input-list" id="input-list" class="remove-all-margin">
              <div class="container remove-all-margin p-0 ">
                  <form id="form" method="POST" action="{% url 'askmf:add_todo' %}">
                      <h2>Input Todo</h2>
                      {% csrf_token %}
                      {{ todo_form }}
                      <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                      <br>
                  </form>
              </div>
          </section>
      </div>
        <div class="flex row col-sm-8">
            {% if todo %}
                {% for data in todo reversed %}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <div class="to-do-list-title">
                                untuk : {{data.untuk}}
                            </div>
                            <div class="to-do-list-title">
                                dari : {{data.dari}}
                            </div>
                            <div class="to-do-list-description">
                                {{data.description}}
                            </div>
                            <div class="to-do-list-date-added">
                                {{data.created_date}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Todo.
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
