body{
  height: 100%;
  overflow-x: hidden;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* Textarea not resizeable */
textarea {
    resize:none
}
section{
  min-height: 400px;
  padding: 0px;
}
/* animasi pada title */
.main-title{
  -webkit-animation: colorchange 1s infinite;
  -webkit-animation-direction: alternate;
  text-align: center;
}

.remove-all-margin{
margin:0 ! important;
}

/* animasi colorchange */
@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #0fb8ad;
    letter-spacing: 0;
    }
  50% {
    -webkit-text-stroke: 7.5px  #1fc8db;
  }
    100% {
        -webkit-text-stroke: 10px  #2cb5e8;
    letter-spacing: 18px;
    }
}
/* styling wrapper form */

.container {
  max-width: 100%;
}

/* styling form */
#input-list form{
  margin: 0px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  position: relative;
}
/* styling judul form, apakah arti dari tanda '>' ? */
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
}
/* styling form input dan textarea, apakah arti dari tanda ',' ? */
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
  padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
/* styling footer */
footer p{
  text-align: center;
  padding-top: 10px;
}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 995px) {
  #input-list form {
      width: 290px;
  }
}

#input-list form{
  width: 100%;
  margin: 0px;
  padding: auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
  padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#my-list{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  height: 100%;
  width: 100%;
}
#my-list .my-list-title{
  font-size: 15rem;
  margin: 1em;
  color: white;
  text-shadow: 0.07em 0.07em 0em #212121; /* ini buat drop shadow color jgn lupa */
  text-align: center;
  font-weight: bold;
}

.to-do-list{
  text-align: left;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.to-do-list:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}

@media only screen and (max-width: 995px) {

  #my-list .my-list-title{
    font-size: 5rem;
    margin: 1em;
    color: white;
    text-shadow: 0.07em 0.07em 0em #212121; /* ini buat drop shadow color jgn lupa */
    text-align: center;
    font-weight: bold;
  }

  .flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
  }
  .flex-item {
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    position: relative;
    top: 0px;
    box-shadow: 0px 0px 0px #888888;
  }
  .flex-item: hover {
    position: relative;
    top: -5px;
    box-shadow: 10px 10px 5px #000000;
  }
}

@media only screen and (min-width: 995px) {
  .flex{
    display: flex;
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
  }
  .flex-item {
    align-self: center;
    padding: 0 15px;
    flex-grow: 1;
    text-align: left;
    flex-shrink: 0;
    flex-direction: row;
    flex-basis: 100%;
    position: relative;
    top: 0px;
    height: 100%;
    box-shadow: 0px 0px 0px #888888;
  }
  .flex-item: hover {
    position: relative;
    top: -5px;
    box-shadow: 10px 10px 5px #000000;
  }
}

.to-do-list .to-do-list-title {
  font-size: 14px;
  padding: 10px 10px 0;
  text-align: left;
}
.to-do-list .to-do-list-date-added {
  font-size: 12px;
  padding: 0 10px;
}
.to-do-list .to-do-list-description {
  padding: 10px ;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: left;
  overflow: auto;
  font-size: 20px;
  color: #2cb5e8;
}
